// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sikaru from "../../../index.js";

export declare namespace SpecialistsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class SpecialistsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SpecialistsClient.Options>;

    constructor(options: SpecialistsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} project_id
     * @param {string} session_id
     * @param {SpecialistsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.specialists.list("project_id", "session_id")
     */
    public list(project_id: string, session_id: string, requestOptions?: SpecialistsClient.RequestOptions): core.HttpResponsePromise<Sikaru.SpecialistThreads> {
        return core.HttpResponsePromise.fromPromise(this.__list(project_id, session_id, requestOptions));
    }

    private async __list(project_id: string, session_id: string, requestOptions?: SpecialistsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.SpecialistThreads>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/execution-sessions/${core.url.encodePathParam(session_id)}/specialists`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.SpecialistThreads, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/execution-sessions/{session_id}/specialists");
    }

    /**
     * @param {string} project_id
     * @param {string} session_id
     * @param {string} thread_id
     * @param {SpecialistsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.specialists.get("project_id", "session_id", "thread_id")
     */
    public get(project_id: string, session_id: string, thread_id: string, requestOptions?: SpecialistsClient.RequestOptions): core.HttpResponsePromise<Sikaru.SpecialistThread> {
        return core.HttpResponsePromise.fromPromise(this.__get(project_id, session_id, thread_id, requestOptions));
    }

    private async __get(project_id: string, session_id: string, thread_id: string, requestOptions?: SpecialistsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.SpecialistThread>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/execution-sessions/${core.url.encodePathParam(session_id)}/specialists/${core.url.encodePathParam(thread_id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.SpecialistThread, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/execution-sessions/{session_id}/specialists/{thread_id}");
    }

    /**
     * @param {string} project_id
     * @param {string} session_id
     * @param {string} thread_id
     * @param {Sikaru.SpecialistCancel} request
     * @param {SpecialistsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.specialists.cancel("project_id", "session_id", "thread_id", {
     *         idempotency_key: "idempotency_key"
     *     })
     */
    public cancel(project_id: string, session_id: string, thread_id: string, request: Sikaru.SpecialistCancel, requestOptions?: SpecialistsClient.RequestOptions): core.HttpResponsePromise<Sikaru.SpecialistReceipt> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(project_id, session_id, thread_id, request, requestOptions));
    }

    private async __cancel(project_id: string, session_id: string, thread_id: string, request: Sikaru.SpecialistCancel, requestOptions?: SpecialistsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.SpecialistReceipt>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/execution-sessions/${core.url.encodePathParam(session_id)}/specialists/${core.url.encodePathParam(thread_id)}/cancel`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.SpecialistReceipt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/execution-sessions/{session_id}/specialists/{thread_id}/cancel");
    }

    /**
     * @param {string} project_id
     * @param {string} session_id
     * @param {string} thread_id
     * @param {Sikaru.SpecialistMessage} request
     * @param {SpecialistsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.specialists.message("project_id", "session_id", "thread_id", {
     *         idempotency_key: "idempotency_key",
     *         input: {
     *             "key": "value"
     *         }
     *     })
     */
    public message(project_id: string, session_id: string, thread_id: string, request: Sikaru.SpecialistMessage, requestOptions?: SpecialistsClient.RequestOptions): core.HttpResponsePromise<Sikaru.SpecialistReceipt> {
        return core.HttpResponsePromise.fromPromise(this.__message(project_id, session_id, thread_id, request, requestOptions));
    }

    private async __message(project_id: string, session_id: string, thread_id: string, request: Sikaru.SpecialistMessage, requestOptions?: SpecialistsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.SpecialistReceipt>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/execution-sessions/${core.url.encodePathParam(session_id)}/specialists/${core.url.encodePathParam(thread_id)}/messages`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.SpecialistReceipt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/execution-sessions/{session_id}/specialists/{thread_id}/messages");
    }
}
