// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sikaru from "../../../index.js";

export declare namespace ComputeAttachmentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class ComputeAttachmentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ComputeAttachmentsClient.Options>;

    constructor(options: ComputeAttachmentsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.get("project_id", "attachment_id")
     */
    public get(project_id: string, attachment_id: string, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__get(project_id, attachment_id, requestOptions));
    }

    private async __get(project_id: string, attachment_id: string, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/compute-attachments/{attachment_id}");
    }

    /**
     * Irreversibly abandon execution authority, preserving unknown effects. Cleanup is still required.
     *
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {Sikaru.AbandonInput} request
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.abandon("project_id", "attachment_id", {
     *         evidence: "evidence"
     *     })
     */
    public abandon(project_id: string, attachment_id: string, request: Sikaru.AbandonInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__abandon(project_id, attachment_id, request, requestOptions));
    }

    private async __abandon(project_id: string, attachment_id: string, request: Sikaru.AbandonInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/abandon`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/abandon");
    }

    /**
     * Idempotently request stopping. This never asserts child cleanup.
     *
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.cancel("project_id", "attachment_id")
     */
    public cancel(project_id: string, attachment_id: string, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(project_id, attachment_id, requestOptions));
    }

    private async __cancel(project_id: string, attachment_id: string, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/cancel`),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/cancel");
    }

    /**
     * Same attachment/key/worker returns the same launch identity, never another launch.
     *
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {Sikaru.ClaimInput} request
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.claim("project_id", "attachment_id", {
     *         idempotency_key: "idempotency_key"
     *     })
     */
    public claim(project_id: string, attachment_id: string, request: Sikaru.ClaimInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.ClaimView> {
        return core.HttpResponsePromise.fromPromise(this.__claim(project_id, attachment_id, request, requestOptions));
    }

    private async __claim(project_id: string, attachment_id: string, request: Sikaru.ClaimInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.ClaimView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/claim`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.ClaimView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/claim");
    }

    /**
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {Sikaru.CleanupInput} request
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.cleanup("project_id", "attachment_id", {
     *         children_terminated: true,
     *         evidence: "evidence"
     *     })
     */
    public cleanup(project_id: string, attachment_id: string, request: Sikaru.CleanupInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__cleanup(project_id, attachment_id, request, requestOptions));
    }

    private async __cleanup(project_id: string, attachment_id: string, request: Sikaru.CleanupInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/cleanup`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/cleanup");
    }

    /**
     * Attest original workspace/journal. Reconnection never replays uncertain effects.
     *
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {Sikaru.ReadyInput} request
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.connect("project_id", "attachment_id", {
     *         capabilities: ["compute.execute"],
     *         executor_instance_id: "executor_instance_id",
     *         journal_id: "journal_id",
     *         protocol_version: "sikaru-compute-v1",
     *         workspace_provenance: {
     *             identity: "identity",
     *             kind: "existing_directory"
     *         }
     *     })
     */
    public connect(project_id: string, attachment_id: string, request: Sikaru.ReadyInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__connect(project_id, attachment_id, request, requestOptions));
    }

    private async __connect(project_id: string, attachment_id: string, request: Sikaru.ReadyInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/connect`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/connect");
    }

    /**
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {Sikaru.ExecutorCredentialInput} request
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.issueCredential("project_id", "attachment_id", {
     *         owner_epoch: 1,
     *         owner_id: "owner_id"
     *     })
     */
    public issueCredential(project_id: string, attachment_id: string, request: Sikaru.ExecutorCredentialInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.CredentialIssued> {
        return core.HttpResponsePromise.fromPromise(this.__issueCredential(project_id, attachment_id, request, requestOptions));
    }

    private async __issueCredential(project_id: string, attachment_id: string, request: Sikaru.ExecutorCredentialInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.CredentialIssued>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/credentials`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.CredentialIssued, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/credentials");
    }

    /**
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.heartbeat("project_id", "attachment_id")
     */
    public heartbeat(project_id: string, attachment_id: string, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__heartbeat(project_id, attachment_id, requestOptions));
    }

    private async __heartbeat(project_id: string, attachment_id: string, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/heartbeat`),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/heartbeat");
    }

    /**
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {Sikaru.ReadyInput} request
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.ready("project_id", "attachment_id", {
     *         capabilities: ["compute.execute"],
     *         executor_instance_id: "executor_instance_id",
     *         journal_id: "journal_id",
     *         protocol_version: "sikaru-compute-v1",
     *         workspace_provenance: {
     *             identity: "identity",
     *             kind: "existing_directory"
     *         }
     *     })
     */
    public ready(project_id: string, attachment_id: string, request: Sikaru.ReadyInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__ready(project_id, attachment_id, request, requestOptions));
    }

    private async __ready(project_id: string, attachment_id: string, request: Sikaru.ReadyInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/ready`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/ready");
    }

    /**
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {Sikaru.ReconcileInput} request
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.reconcile("project_id", "attachment_id", {
     *         executor_instance_id: "executor_instance_id",
     *         journal_id: "journal_id",
     *         workspace_provenance: {
     *             identity: "identity",
     *             kind: "existing_directory"
     *         }
     *     })
     */
    public reconcile(project_id: string, attachment_id: string, request: Sikaru.ReconcileInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.ReconcileView> {
        return core.HttpResponsePromise.fromPromise(this.__reconcile(project_id, attachment_id, request, requestOptions));
    }

    private async __reconcile(project_id: string, attachment_id: string, request: Sikaru.ReconcileInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.ReconcileView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/reconcile`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.ReconcileView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/reconcile");
    }

    /**
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.status("project_id", "attachment_id")
     */
    public status(project_id: string, attachment_id: string, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__status(project_id, attachment_id, requestOptions));
    }

    private async __status(project_id: string, attachment_id: string, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/status`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/status");
    }

    /**
     * Executor can stop its own attachment and cancel its runs; cleanup is separately reported.
     *
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.stop("project_id", "attachment_id")
     */
    public stop(project_id: string, attachment_id: string, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__stop(project_id, attachment_id, requestOptions));
    }

    private async __stop(project_id: string, attachment_id: string, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/stop`),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/stop");
    }

    /**
     * Controller or owning worker attests sandbox teardown; clean parked turns stay resumable.
     *
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {Sikaru.TeardownInput} request
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.teardown("project_id", "attachment_id", {
     *         children_terminated: true,
     *         evidence: "evidence",
     *         owner_epoch: 1,
     *         owner_id: "owner_id",
     *         workspace_generation: "workspace_generation"
     *     })
     */
    public teardown(project_id: string, attachment_id: string, request: Sikaru.TeardownInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__teardown(project_id, attachment_id, request, requestOptions));
    }

    private async __teardown(project_id: string, attachment_id: string, request: Sikaru.TeardownInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/teardown`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/teardown");
    }

    /**
     * Same session/key/workspace returns the original binding; changed workspace conflicts.
     *
     * @param {string} project_id
     * @param {string} session_id
     * @param {Sikaru.AttachmentInput} request
     * @param {ComputeAttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeAttachments.create("project_id", "session_id", {
     *         environment_id: "environment_id",
     *         idempotency_key: "idempotency_key",
     *         workspace_provenance: {
     *             identity: "identity",
     *             kind: "existing_directory"
     *         }
     *     })
     */
    public create(project_id: string, session_id: string, request: Sikaru.AttachmentInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.AttachmentView> {
        return core.HttpResponsePromise.fromPromise(this.__create(project_id, session_id, request, requestOptions));
    }

    private async __create(project_id: string, session_id: string, request: Sikaru.AttachmentInput, requestOptions?: ComputeAttachmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.AttachmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/execution-sessions/${core.url.encodePathParam(session_id)}/compute-attachments`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.AttachmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/execution-sessions/{session_id}/compute-attachments");
    }
}
