// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sikaru from "../../../index.js";

export declare namespace ComputeEnvironmentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class ComputeEnvironmentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ComputeEnvironmentsClient.Options>;

    constructor(options: ComputeEnvironmentsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Same key + same configuration returns the same environment; changed input conflicts.
     *
     * @param {string} project_id
     * @param {Sikaru.EnvironmentInput} request
     * @param {ComputeEnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeEnvironments.create("project_id", {
     *         environment_slug: "environment_slug",
     *         idempotency_key: "idempotency_key"
     *     })
     */
    public create(project_id: string, request: Sikaru.EnvironmentInput, requestOptions?: ComputeEnvironmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.EnvironmentView> {
        return core.HttpResponsePromise.fromPromise(this.__create(project_id, request, requestOptions));
    }

    private async __create(project_id: string, request: Sikaru.EnvironmentInput, requestOptions?: ComputeEnvironmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.EnvironmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-environments`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.EnvironmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-environments");
    }

    /**
     * @param {string} project_id
     * @param {string} environment_id
     * @param {ComputeEnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeEnvironments.get("project_id", "environment_id")
     */
    public get(project_id: string, environment_id: string, requestOptions?: ComputeEnvironmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.EnvironmentView> {
        return core.HttpResponsePromise.fromPromise(this.__get(project_id, environment_id, requestOptions));
    }

    private async __get(project_id: string, environment_id: string, requestOptions?: ComputeEnvironmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.EnvironmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-environments/${core.url.encodePathParam(environment_id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.EnvironmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/compute-environments/{environment_id}");
    }

    /**
     * Idempotently disable future claims and credentials; existing cleanup remains required.
     *
     * @param {string} project_id
     * @param {string} environment_id
     * @param {ComputeEnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeEnvironments.disable("project_id", "environment_id")
     */
    public disable(project_id: string, environment_id: string, requestOptions?: ComputeEnvironmentsClient.RequestOptions): core.HttpResponsePromise<Sikaru.EnvironmentView> {
        return core.HttpResponsePromise.fromPromise(this.__disable(project_id, environment_id, requestOptions));
    }

    private async __disable(project_id: string, environment_id: string, requestOptions?: ComputeEnvironmentsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.EnvironmentView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-environments/${core.url.encodePathParam(environment_id)}/disable`),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.EnvironmentView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-environments/{environment_id}/disable");
    }
}
