// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sikaru from "../../../index.js";

export declare namespace DatasetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class DatasetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DatasetsClient.Options>;

    constructor(options: DatasetsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} project_id
     * @param {Sikaru.ListDatasetsDatasetsRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.listDatasets("project_id")
     */
    public listDatasets(project_id: string, request: Sikaru.ListDatasetsDatasetsRequest = {}, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetList> {
        return core.HttpResponsePromise.fromPromise(this.__listDatasets(project_id, request, requestOptions));
    }

    private async __listDatasets(project_id: string, request: Sikaru.ListDatasetsDatasetsRequest = {}, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetList>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const { purpose } = request;
        const _queryParams: Record<string, unknown> = {
            purpose: purpose !== undefined ? purpose : undefined
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/datasets");
    }

    /**
     * @param {string} project_id
     * @param {Sikaru.CreateDataset} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.createDataset("project_id", {
     *         name: "name",
     *         purpose: "eval"
     *     })
     */
    public createDataset(project_id: string, request: Sikaru.CreateDataset, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createDataset(project_id, request, requestOptions));
    }

    private async __createDataset(project_id: string, request: Sikaru.CreateDataset, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetResponse>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/datasets");
    }

    /**
     * Creates the named dataset and adds the runs to it; a retry of the key reuses both.
     *
     * @param {string} project_id
     * @param {Sikaru.CaptureIntoNewRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.captureIntoNewDataset("project_id", {
     *         dataset: {
     *             name: "name",
     *             purpose: "eval"
     *         },
     *         idempotency_key: "idempotency_key",
     *         items: [{
     *                 run_id: "run_id"
     *             }]
     *     })
     */
    public captureIntoNewDataset(project_id: string, request: Sikaru.CaptureIntoNewRequest, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.BatchResult> {
        return core.HttpResponsePromise.fromPromise(this.__captureIntoNewDataset(project_id, request, requestOptions));
    }

    private async __captureIntoNewDataset(project_id: string, request: Sikaru.CaptureIntoNewRequest, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.BatchResult>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/capture`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.BatchResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/datasets/capture");
    }

    /**
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.getDataset("project_id", "dataset_id")
     */
    public getDataset(project_id: string, dataset_id: string, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDataset(project_id, dataset_id, requestOptions));
    }

    private async __getDataset(project_id: string, dataset_id: string, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetResponse>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/datasets/{dataset_id}");
    }

    /**
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.deleteDataset("project_id", "dataset_id")
     */
    public deleteDataset(project_id: string, dataset_id: string, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDataset(project_id, dataset_id, requestOptions));
    }

    private async __deleteDataset(project_id: string, dataset_id: string, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<void>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/projects/{project_id}/datasets/{dataset_id}");
    }

    /**
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {Sikaru.UpdateDataset} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.updateDataset("project_id", "dataset_id")
     */
    public updateDataset(project_id: string, dataset_id: string, request: Sikaru.UpdateDataset = {}, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateDataset(project_id, dataset_id, request, requestOptions));
    }

    private async __updateDataset(project_id: string, dataset_id: string, request: Sikaru.UpdateDataset = {}, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetResponse>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}`),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/projects/{project_id}/datasets/{dataset_id}");
    }

    /**
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {Sikaru.CaptureRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.captureIntoDataset("project_id", "dataset_id", {
     *         idempotency_key: "idempotency_key",
     *         items: [{
     *                 run_id: "run_id"
     *             }]
     *     })
     */
    public captureIntoDataset(project_id: string, dataset_id: string, request: Sikaru.CaptureRequest, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.BatchResult> {
        return core.HttpResponsePromise.fromPromise(this.__captureIntoDataset(project_id, dataset_id, request, requestOptions));
    }

    private async __captureIntoDataset(project_id: string, dataset_id: string, request: Sikaru.CaptureRequest, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.BatchResult>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}/capture`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.BatchResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/datasets/{dataset_id}/capture");
    }

    /**
     * One Check per eligible example, each started as a production run of the agent's live version.
     *
     * Credits are admitted before anything is created. A retry of the same key
     * returns the same checks and starts only what did not start before.
     *
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {Sikaru.StartDatasetChecks} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.startDatasetChecks("project_id", "dataset_id", {
     *         agent_slug: "agent_slug",
     *         idempotency_key: "idempotency_key"
     *     })
     */
    public startDatasetChecks(project_id: string, dataset_id: string, request: Sikaru.StartDatasetChecks, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetChecksStarted> {
        return core.HttpResponsePromise.fromPromise(this.__startDatasetChecks(project_id, dataset_id, request, requestOptions));
    }

    private async __startDatasetChecks(project_id: string, dataset_id: string, request: Sikaru.StartDatasetChecks, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetChecksStarted>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}/checks`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetChecksStarted, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/datasets/{dataset_id}/checks");
    }

    /**
     * How many examples can run as Checks, why the rest cannot, and the estimated model cost on ``agent``.
     *
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {Sikaru.PreviewDatasetChecksDatasetsRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.previewDatasetChecks("project_id", "dataset_id")
     */
    public previewDatasetChecks(project_id: string, dataset_id: string, request: Sikaru.PreviewDatasetChecksDatasetsRequest = {}, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetChecksPreview> {
        return core.HttpResponsePromise.fromPromise(this.__previewDatasetChecks(project_id, dataset_id, request, requestOptions));
    }

    private async __previewDatasetChecks(project_id: string, dataset_id: string, request: Sikaru.PreviewDatasetChecksDatasetsRequest = {}, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetChecksPreview>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const { agent, version } = request;
        const _queryParams: Record<string, unknown> = {
            agent,
            version
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}/checks/preview`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetChecksPreview, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/datasets/{dataset_id}/checks/preview");
    }

    /**
     * Pass rate per agent version for each dataset version run as Checks; failures name their example and run.
     *
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {Sikaru.ListDatasetCheckResultsDatasetsRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.listDatasetCheckResults("project_id", "dataset_id")
     */
    public listDatasetCheckResults(project_id: string, dataset_id: string, request: Sikaru.ListDatasetCheckResultsDatasetsRequest = {}, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetCheckResults> {
        return core.HttpResponsePromise.fromPromise(this.__listDatasetCheckResults(project_id, dataset_id, request, requestOptions));
    }

    private async __listDatasetCheckResults(project_id: string, dataset_id: string, request: Sikaru.ListDatasetCheckResultsDatasetsRequest = {}, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetCheckResults>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const { version } = request;
        const _queryParams: Record<string, unknown> = {
            version
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}/checks/results`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetCheckResults, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/datasets/{dataset_id}/checks/results");
    }

    /**
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {Sikaru.ListExamplesDatasetsRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.listExamples("project_id", "dataset_id")
     */
    public listExamples(project_id: string, dataset_id: string, request: Sikaru.ListExamplesDatasetsRequest = {}, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetExamplePage> {
        return core.HttpResponsePromise.fromPromise(this.__listExamples(project_id, dataset_id, request, requestOptions));
    }

    private async __listExamples(project_id: string, dataset_id: string, request: Sikaru.ListExamplesDatasetsRequest = {}, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetExamplePage>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const { version, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            version,
            limit,
            offset
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}/examples`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetExamplePage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/datasets/{dataset_id}/examples");
    }

    /**
     * Permanently removes every copy of the example, including from older versions.
     *
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {string} example_id
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.deleteExample("project_id", "dataset_id", "example_id")
     */
    public deleteExample(project_id: string, dataset_id: string, example_id: string, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetVersionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteExample(project_id, dataset_id, example_id, requestOptions));
    }

    private async __deleteExample(project_id: string, dataset_id: string, example_id: string, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetVersionResponse>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}/examples/${core.url.encodePathParam(example_id)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetVersionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/projects/{project_id}/datasets/{dataset_id}/examples/{example_id}");
    }

    /**
     * Editing the expected answer or tags creates a version; edited fields are human-written.
     *
     * Sikaru's own tags survive a tag edit unless it comes from the signed-in dashboard, which shows them.
     *
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {string} example_id
     * @param {Sikaru.UpdateExample} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.updateExample("project_id", "dataset_id", "example_id")
     */
    public updateExample(project_id: string, dataset_id: string, example_id: string, request: Sikaru.UpdateExample = {}, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetExampleResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateExample(project_id, dataset_id, example_id, request, requestOptions));
    }

    private async __updateExample(project_id: string, dataset_id: string, example_id: string, request: Sikaru.UpdateExample = {}, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetExampleResponse>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}/examples/${core.url.encodePathParam(example_id)}`),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetExampleResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/v1/projects/{project_id}/datasets/{dataset_id}/examples/{example_id}");
    }

    /**
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     */
    public exportDataset(project_id: string, dataset_id: string, request: Sikaru.ExportDatasetDatasetsRequest = {}, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__exportDataset(project_id, dataset_id, request, requestOptions));
    }

    private async __exportDataset(project_id: string, dataset_id: string, request: Sikaru.ExportDatasetDatasetsRequest = {}, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const { version } = request;
        const _queryParams: Record<string, unknown> = {
            version
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}/export`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/datasets/{dataset_id}/export");
    }

    /**
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {Sikaru.UploadRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.uploadExamples("project_id", "dataset_id", {
     *         content: "content",
     *         format: "csv",
     *         idempotency_key: "idempotency_key"
     *     })
     */
    public uploadExamples(project_id: string, dataset_id: string, request: Sikaru.UploadRequest, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.BatchResult> {
        return core.HttpResponsePromise.fromPromise(this.__uploadExamples(project_id, dataset_id, request, requestOptions));
    }

    private async __uploadExamples(project_id: string, dataset_id: string, request: Sikaru.UploadRequest, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.BatchResult>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}/uploads`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.BatchResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/datasets/{dataset_id}/uploads");
    }

    /**
     * @param {string} project_id
     * @param {string} dataset_id
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.datasets.listVersions("project_id", "dataset_id")
     */
    public listVersions(project_id: string, dataset_id: string, requestOptions?: DatasetsClient.RequestOptions): core.HttpResponsePromise<Sikaru.DatasetVersionList> {
        return core.HttpResponsePromise.fromPromise(this.__listVersions(project_id, dataset_id, requestOptions));
    }

    private async __listVersions(project_id: string, dataset_id: string, requestOptions?: DatasetsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.DatasetVersionList>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/datasets/${core.url.encodePathParam(dataset_id)}/versions`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.DatasetVersionList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/datasets/{dataset_id}/versions");
    }
}
