// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptions, type NormalizedClientOptions } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sikaru from "../../../index.js";

export declare namespace PersonalChannelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class PersonalChannelsClient {
    protected readonly _options: NormalizedClientOptions<PersonalChannelsClient.Options>;

    constructor(options: PersonalChannelsClient.Options = {}) {

        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {string} binding_id
     * @param {string} receipt_id
     * @param {Sikaru.GetMessagePersonalChannelsRequest} request
     * @param {PersonalChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.personalChannels.getMessage("binding_id", "receipt_id")
     */
    public getMessage(binding_id: string, receipt_id: string, request: Sikaru.GetMessagePersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.PersonalChannelReceipt> {
        return core.HttpResponsePromise.fromPromise(this.__getMessage(binding_id, receipt_id, request, requestOptions));
    }

    private async __getMessage(binding_id: string, receipt_id: string, request: Sikaru.GetMessagePersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.PersonalChannelReceipt>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const { authorization, "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization } = request;
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, mergeOnlyDefinedHeaders({ "authorization": authorization ?? undefined, "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/personal-channel-bindings/${core.url.encodePathParam(binding_id)}/messages/${core.url.encodePathParam(receipt_id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.PersonalChannelReceipt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/personal-channel-bindings/{binding_id}/messages/{receipt_id}");
    }

    /**
     * @param {string} binding_id
     * @param {string} receipt_id
     * @param {string} connection_id
     * @param {Sikaru.AuthorizeConnectionPersonalChannelsRequest} request
     * @param {PersonalChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.personalChannels.authorizeConnection("binding_id", "receipt_id", "connection_id")
     */
    public authorizeConnection(binding_id: string, receipt_id: string, connection_id: string, request: Sikaru.AuthorizeConnectionPersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.ConnectionAuthorization> {
        return core.HttpResponsePromise.fromPromise(this.__authorizeConnection(binding_id, receipt_id, connection_id, request, requestOptions));
    }

    private async __authorizeConnection(binding_id: string, receipt_id: string, connection_id: string, request: Sikaru.AuthorizeConnectionPersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.ConnectionAuthorization>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const { authorization, "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization } = request;
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, mergeOnlyDefinedHeaders({ "authorization": authorization ?? undefined, "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/personal-channel-bindings/${core.url.encodePathParam(binding_id)}/messages/${core.url.encodePathParam(receipt_id)}/connections/${core.url.encodePathParam(connection_id)}/authorize`),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.ConnectionAuthorization, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/personal-channel-bindings/{binding_id}/messages/{receipt_id}/connections/{connection_id}/authorize");
    }

    /**
     * @param {string} binding_id
     * @param {string} receipt_id
     * @param {string} connection_id
     * @param {Sikaru.CompleteConnectionPersonalChannelsRequest} request
     * @param {PersonalChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.personalChannels.completeConnection("binding_id", "receipt_id", "connection_id", {
     *         body: {
     *             state: "state"
     *         }
     *     })
     */
    public completeConnection(binding_id: string, receipt_id: string, connection_id: string, request: Sikaru.CompleteConnectionPersonalChannelsRequest, requestOptions?: PersonalChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.PersonalChannelConnection> {
        return core.HttpResponsePromise.fromPromise(this.__completeConnection(binding_id, receipt_id, connection_id, request, requestOptions));
    }

    private async __completeConnection(binding_id: string, receipt_id: string, connection_id: string, request: Sikaru.CompleteConnectionPersonalChannelsRequest, requestOptions?: PersonalChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.PersonalChannelConnection>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const { authorization, "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization, body: _body } = request;
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, mergeOnlyDefinedHeaders({ "authorization": authorization ?? undefined, "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/personal-channel-bindings/${core.url.encodePathParam(binding_id)}/messages/${core.url.encodePathParam(receipt_id)}/connections/${core.url.encodePathParam(connection_id)}/complete`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.PersonalChannelConnection, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/personal-channel-bindings/{binding_id}/messages/{receipt_id}/connections/{connection_id}/complete");
    }

    /**
     * @param {string} binding_id
     * @param {string} receipt_id
     * @param {string} connection_id
     * @param {Sikaru.ReplaceConnectionCredentialsPersonalChannelsRequest} request
     * @param {PersonalChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.personalChannels.replaceConnectionCredentials("binding_id", "receipt_id", "connection_id", {
     *         body: {
     *             credentials: {}
     *         }
     *     })
     */
    public replaceConnectionCredentials(binding_id: string, receipt_id: string, connection_id: string, request: Sikaru.ReplaceConnectionCredentialsPersonalChannelsRequest, requestOptions?: PersonalChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.PersonalChannelConnection> {
        return core.HttpResponsePromise.fromPromise(this.__replaceConnectionCredentials(binding_id, receipt_id, connection_id, request, requestOptions));
    }

    private async __replaceConnectionCredentials(binding_id: string, receipt_id: string, connection_id: string, request: Sikaru.ReplaceConnectionCredentialsPersonalChannelsRequest, requestOptions?: PersonalChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.PersonalChannelConnection>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const { authorization, "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization, body: _body } = request;
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, mergeOnlyDefinedHeaders({ "authorization": authorization ?? undefined, "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/personal-channel-bindings/${core.url.encodePathParam(binding_id)}/messages/${core.url.encodePathParam(receipt_id)}/connections/${core.url.encodePathParam(connection_id)}/credentials`),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.PersonalChannelConnection, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/personal-channel-bindings/{binding_id}/messages/{receipt_id}/connections/{connection_id}/credentials");
    }

    /**
     * @param {string} binding_id
     * @param {string} receipt_id
     * @param {Sikaru.ListFilesPersonalChannelsRequest} request
     * @param {PersonalChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.personalChannels.listFiles("binding_id", "receipt_id")
     */
    public listFiles(binding_id: string, receipt_id: string, request: Sikaru.ListFilesPersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.PersonalChannelFiles> {
        return core.HttpResponsePromise.fromPromise(this.__listFiles(binding_id, receipt_id, request, requestOptions));
    }

    private async __listFiles(binding_id: string, receipt_id: string, request: Sikaru.ListFilesPersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.PersonalChannelFiles>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const { authorization, "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization } = request;
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, mergeOnlyDefinedHeaders({ "authorization": authorization ?? undefined, "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/personal-channel-bindings/${core.url.encodePathParam(binding_id)}/messages/${core.url.encodePathParam(receipt_id)}/files`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.PersonalChannelFiles, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/personal-channel-bindings/{binding_id}/messages/{receipt_id}/files");
    }

    /**
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     */
    public downloadFile(binding_id: string, receipt_id: string, file_id: string, request: Sikaru.DownloadFilePersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__downloadFile(binding_id, receipt_id, file_id, request, requestOptions));
    }

    private async __downloadFile(binding_id: string, receipt_id: string, file_id: string, request: Sikaru.DownloadFilePersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const { authorization, "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization } = request;
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, mergeOnlyDefinedHeaders({ "authorization": authorization ?? undefined, "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/personal-channel-bindings/${core.url.encodePathParam(binding_id)}/messages/${core.url.encodePathParam(receipt_id)}/files/${core.url.encodePathParam(file_id)}/content`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/personal-channel-bindings/{binding_id}/messages/{receipt_id}/files/{file_id}/content");
    }

    /**
     * @param {string} binding_id
     * @param {string} receipt_id
     * @param {string} tool_call_id
     * @param {Sikaru.DecideApprovalPersonalChannelsRequest} request
     * @param {PersonalChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.personalChannels.decideApproval("binding_id", "receipt_id", "tool_call_id", {
     *         body: {
     *             decision: "approved",
     *             idempotency_key: "idempotency_key"
     *         }
     *     })
     */
    public decideApproval(binding_id: string, receipt_id: string, tool_call_id: string, request: Sikaru.DecideApprovalPersonalChannelsRequest, requestOptions?: PersonalChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.PersonalChannelApproval> {
        return core.HttpResponsePromise.fromPromise(this.__decideApproval(binding_id, receipt_id, tool_call_id, request, requestOptions));
    }

    private async __decideApproval(binding_id: string, receipt_id: string, tool_call_id: string, request: Sikaru.DecideApprovalPersonalChannelsRequest, requestOptions?: PersonalChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.PersonalChannelApproval>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const { authorization, "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization, body: _body } = request;
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, mergeOnlyDefinedHeaders({ "authorization": authorization ?? undefined, "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/personal-channel-bindings/${core.url.encodePathParam(binding_id)}/messages/${core.url.encodePathParam(receipt_id)}/tool-calls/${core.url.encodePathParam(tool_call_id)}/approval`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.PersonalChannelApproval, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/personal-channel-bindings/{binding_id}/messages/{receipt_id}/tool-calls/{tool_call_id}/approval");
    }

    /**
     * @param {string} binding_id
     * @param {string} verification_id
     * @param {Sikaru.GetSlackLinkPersonalChannelsRequest} request
     * @param {PersonalChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.personalChannels.getSlackLink("binding_id", "verification_id")
     */
    public getSlackLink(binding_id: string, verification_id: string, request: Sikaru.GetSlackLinkPersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.PersonalSlackStatus> {
        return core.HttpResponsePromise.fromPromise(this.__getSlackLink(binding_id, verification_id, request, requestOptions));
    }

    private async __getSlackLink(binding_id: string, verification_id: string, request: Sikaru.GetSlackLinkPersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.PersonalSlackStatus>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const { authorization, "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization } = request;
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, mergeOnlyDefinedHeaders({ "authorization": authorization ?? undefined, "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/personal-channel-bindings/${core.url.encodePathParam(binding_id)}/slack-link-verifications/${core.url.encodePathParam(verification_id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.PersonalSlackStatus, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/personal-channel-bindings/{binding_id}/slack-link-verifications/{verification_id}");
    }

    /**
     * @param {string} binding_id
     * @param {Sikaru.StartSlackLinkPersonalChannelsRequest} request
     * @param {PersonalChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.personalChannels.startSlackLink("binding_id", {
     *         body: {
     *             installation_id: "installation_id"
     *         }
     *     })
     */
    public startSlackLink(binding_id: string, request: Sikaru.StartSlackLinkPersonalChannelsRequest, requestOptions?: PersonalChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.PersonalSlackChallenge> {
        return core.HttpResponsePromise.fromPromise(this.__startSlackLink(binding_id, request, requestOptions));
    }

    private async __startSlackLink(binding_id: string, request: Sikaru.StartSlackLinkPersonalChannelsRequest, requestOptions?: PersonalChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.PersonalSlackChallenge>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const { authorization, "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization, body: _body } = request;
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, mergeOnlyDefinedHeaders({ "authorization": authorization ?? undefined, "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/personal-channel-bindings/${core.url.encodePathParam(binding_id)}/slack-links`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.PersonalSlackChallenge, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/personal-channel-bindings/{binding_id}/slack-links");
    }

    /**
     * @param {string} binding_id
     * @param {string} installation_id
     * @param {Sikaru.UnlinkSlackIdentityPersonalChannelsRequest} request
     * @param {PersonalChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.personalChannels.unlinkSlackIdentity("binding_id", "installation_id")
     */
    public unlinkSlackIdentity(binding_id: string, installation_id: string, request: Sikaru.UnlinkSlackIdentityPersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__unlinkSlackIdentity(binding_id, installation_id, request, requestOptions));
    }

    private async __unlinkSlackIdentity(binding_id: string, installation_id: string, request: Sikaru.UnlinkSlackIdentityPersonalChannelsRequest = {}, requestOptions?: PersonalChannelsClient.RequestOptions): Promise<core.WithRawResponse<void>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const { authorization, "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization } = request;
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, mergeOnlyDefinedHeaders({ "authorization": authorization ?? undefined, "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/personal-channel-bindings/${core.url.encodePathParam(binding_id)}/slack-links/${core.url.encodePathParam(installation_id)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/personal-channel-bindings/{binding_id}/slack-links/{installation_id}");
    }
}
