// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sikaru from "../../../index.js";

export declare namespace HttpChannelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class HttpChannelsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<HttpChannelsClient.Options>;

    constructor(options: HttpChannelsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} binding_id
     * @param {Sikaru.HttpMessage} request
     * @param {HttpChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.httpChannels.invoke("binding_id", {
     *         content: "content",
     *         conversation_id: "conversation_id",
     *         message_id: "message_id"
     *     })
     */
    public invoke(binding_id: string, request: Sikaru.HttpMessage, requestOptions?: HttpChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.HttpReceipt> {
        return core.HttpResponsePromise.fromPromise(this.__invoke(binding_id, request, requestOptions));
    }

    private async __invoke(binding_id: string, request: Sikaru.HttpMessage, requestOptions?: HttpChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.HttpReceipt>> {
        const _metadata: core.EndpointMetadata = { security: [{ BindingBearerAuth: [] }] };
        const { "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, mergeOnlyDefinedHeaders({ "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/channel-bindings/${core.url.encodePathParam(binding_id)}/messages`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.HttpReceipt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/channel-bindings/{binding_id}/messages");
    }

    /**
     * @param {string} binding_id
     * @param {string} receipt_id
     * @param {Sikaru.PollHttpChannelsRequest} request
     * @param {HttpChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.httpChannels.poll("binding_id", "receipt_id")
     */
    public poll(binding_id: string, receipt_id: string, request: Sikaru.PollHttpChannelsRequest = {}, requestOptions?: HttpChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.HttpReceipt> {
        return core.HttpResponsePromise.fromPromise(this.__poll(binding_id, receipt_id, request, requestOptions));
    }

    private async __poll(binding_id: string, receipt_id: string, request: Sikaru.PollHttpChannelsRequest = {}, requestOptions?: HttpChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.HttpReceipt>> {
        const _metadata: core.EndpointMetadata = { security: [{ BindingBearerAuth: [] }] };
        const { "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, mergeOnlyDefinedHeaders({ "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/channel-bindings/${core.url.encodePathParam(binding_id)}/messages/${core.url.encodePathParam(receipt_id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.HttpReceipt, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/channel-bindings/{binding_id}/messages/{receipt_id}");
    }

    /**
     * @param {string} binding_id
     * @param {Sikaru.StartSlackLinkHttpChannelsRequest} request
     * @param {HttpChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.httpChannels.startSlackLink("binding_id", {
     *         body: {
     *             installation_id: "installation_id"
     *         }
     *     })
     */
    public startSlackLink(binding_id: string, request: Sikaru.StartSlackLinkHttpChannelsRequest, requestOptions?: HttpChannelsClient.RequestOptions): core.HttpResponsePromise<Sikaru.PersonalSlackChallenge> {
        return core.HttpResponsePromise.fromPromise(this.__startSlackLink(binding_id, request, requestOptions));
    }

    private async __startSlackLink(binding_id: string, request: Sikaru.StartSlackLinkHttpChannelsRequest, requestOptions?: HttpChannelsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.PersonalSlackChallenge>> {
        const _metadata: core.EndpointMetadata = { security: [{ BindingBearerAuth: [] }] };
        const { "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, mergeOnlyDefinedHeaders({ "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/channel-bindings/${core.url.encodePathParam(binding_id)}/slack-links`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.PersonalSlackChallenge, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/channel-bindings/{binding_id}/slack-links");
    }

    /**
     * @param {string} binding_id
     * @param {string} installation_id
     * @param {Sikaru.UnlinkSlackIdentityHttpChannelsRequest} request
     * @param {HttpChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.httpChannels.unlinkSlackIdentity("binding_id", "installation_id")
     */
    public unlinkSlackIdentity(binding_id: string, installation_id: string, request: Sikaru.UnlinkSlackIdentityHttpChannelsRequest = {}, requestOptions?: HttpChannelsClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__unlinkSlackIdentity(binding_id, installation_id, request, requestOptions));
    }

    private async __unlinkSlackIdentity(binding_id: string, installation_id: string, request: Sikaru.UnlinkSlackIdentityHttpChannelsRequest = {}, requestOptions?: HttpChannelsClient.RequestOptions): Promise<core.WithRawResponse<void>> {
        const _metadata: core.EndpointMetadata = { security: [{ BindingBearerAuth: [] }] };
        const { "X-Sikaru-User-Assertion": sikaruUserAssertion, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({ endpointMetadata: _metadata });
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, mergeOnlyDefinedHeaders({ "X-Sikaru-User-Assertion": sikaruUserAssertion ?? undefined, "X-Sikaru-Member-Authorization": sikaruMemberAuthorization ?? undefined }), requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/channel-bindings/${core.url.encodePathParam(binding_id)}/slack-links/${core.url.encodePathParam(installation_id)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/channel-bindings/{binding_id}/slack-links/{installation_id}");
    }
}
