// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sikaru from "../../../index.js";

export declare namespace ComputeOperationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class ComputeOperationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ComputeOperationsClient.Options>;

    constructor(options: ComputeOperationsClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Only exact immutable receipt retries are idempotent; changed content conflicts.
     *
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {Sikaru.ReceiptInput} request
     * @param {ComputeOperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeOperations.submitReceipt("project_id", "attachment_id", {
     *         idempotency_key: "idempotency_key",
     *         payload: {
     *             "key": "value"
     *         },
     *         request_digest: "request_digest",
     *         run_id: "run_id",
     *         status: "completed",
     *         tool_call_id: "tool_call_id",
     *         tool_provider_id: "tool_provider_id"
     *     })
     */
    public submitReceipt(project_id: string, attachment_id: string, request: Sikaru.ReceiptInput, requestOptions?: ComputeOperationsClient.RequestOptions): core.HttpResponsePromise<Sikaru.ReceiptView> {
        return core.HttpResponsePromise.fromPromise(this.__submitReceipt(project_id, attachment_id, request, requestOptions));
    }

    private async __submitReceipt(project_id: string, attachment_id: string, request: Sikaru.ReceiptInput, requestOptions?: ComputeOperationsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.ReceiptView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/receipts`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.ReceiptView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/receipts");
    }

    /**
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {Sikaru.PollComputeOperationsRequest} request
     * @param {ComputeOperationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeOperations.poll("project_id", "attachment_id")
     */
    public poll(project_id: string, attachment_id: string, request: Sikaru.PollComputeOperationsRequest = {}, requestOptions?: ComputeOperationsClient.RequestOptions): core.HttpResponsePromise<Sikaru.WorkPage> {
        return core.HttpResponsePromise.fromPromise(this.__poll(project_id, attachment_id, request, requestOptions));
    }

    private async __poll(project_id: string, attachment_id: string, request: Sikaru.PollComputeOperationsRequest = {}, requestOptions?: ComputeOperationsClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.WorkPage>> {
        const { "wait_seconds": waitSeconds, limit } = request;
        const _queryParams: Record<string, unknown> = {
            wait_seconds: waitSeconds,
            limit
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/work`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.WorkPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/work");
    }
}
