// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Sikaru from "../../../index.js";

export declare namespace ComputeWorkspacesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class ComputeWorkspacesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ComputeWorkspacesClient.Options>;

    constructor(options: ComputeWorkspacesClient.Options = {}) {

        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {string} run_id
     * @param {ComputeWorkspacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeWorkspaces.get("project_id", "attachment_id", "run_id")
     */
    public get(project_id: string, attachment_id: string, run_id: string, requestOptions?: ComputeWorkspacesClient.RequestOptions): core.HttpResponsePromise<Sikaru.WorkspaceCheckpointView> {
        return core.HttpResponsePromise.fromPromise(this.__get(project_id, attachment_id, run_id, requestOptions));
    }

    private async __get(project_id: string, attachment_id: string, run_id: string, requestOptions?: ComputeWorkspacesClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.WorkspaceCheckpointView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/workspace-checkpoints/${core.url.encodePathParam(run_id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.WorkspaceCheckpointView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/workspace-checkpoints/{run_id}");
    }

    /**
     * @param {core.file.Uploadable} uploadable
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {string} run_id
     * @param {string} sha256
     * @param {ComputeWorkspacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     */
    public putBlob(uploadable: core.file.Uploadable, project_id: string, attachment_id: string, run_id: string, sha256: string, requestOptions?: ComputeWorkspacesClient.RequestOptions): core.HttpResponsePromise<Sikaru.WorkspaceBlobView> {
        return core.HttpResponsePromise.fromPromise(this.__putBlob(uploadable, project_id, attachment_id, run_id, sha256, requestOptions));
    }

    private async __putBlob(uploadable: core.file.Uploadable, project_id: string, attachment_id: string, run_id: string, sha256: string, requestOptions?: ComputeWorkspacesClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.WorkspaceBlobView>> {
        const _binaryUploadRequest = await core.file.toBinaryUploadRequest(uploadable);
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, _binaryUploadRequest.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/workspace-checkpoints/${core.url.encodePathParam(run_id)}/blobs/${core.url.encodePathParam(sha256)}`),
            method: "PUT",
            headers: _headers,
            contentType: "application/octet-stream",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "bytes",
            duplex: "half",
            body: _binaryUploadRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.WorkspaceBlobView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/workspace-checkpoints/{run_id}/blobs/{sha256}");
    }

    /**
     * @param {string} project_id
     * @param {string} attachment_id
     * @param {string} run_id
     * @param {Sikaru.WorkspaceTreeInput} request
     * @param {ComputeWorkspacesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sikaru.UnauthorizedError}
     * @throws {@link Sikaru.ForbiddenError}
     * @throws {@link Sikaru.NotFoundError}
     * @throws {@link Sikaru.ConflictError}
     * @throws {@link Sikaru.UnprocessableEntityError}
     * @throws {@link Sikaru.ServiceUnavailableError}
     * @throws {@link errors.SikaruError}
     * @throws {@link errors.SikaruTimeoutError}
     *
     * @example
     *     await client.computeWorkspaces.commitTree("project_id", "attachment_id", "run_id", {
     *         files: {
     *             "key": {
     *                 chunks: [{
     *                         sha256: "sha256",
     *                         size: 1
     *                     }],
     *                 mode: 1,
     *                 sha256: "sha256",
     *                 size: 1
     *             }
     *         }
     *     })
     */
    public commitTree(project_id: string, attachment_id: string, run_id: string, request: Sikaru.WorkspaceTreeInput, requestOptions?: ComputeWorkspacesClient.RequestOptions): core.HttpResponsePromise<Sikaru.WorkspaceCheckpointView> {
        return core.HttpResponsePromise.fromPromise(this.__commitTree(project_id, attachment_id, run_id, request, requestOptions));
    }

    private async __commitTree(project_id: string, attachment_id: string, run_id: string, request: Sikaru.WorkspaceTreeInput, requestOptions?: ComputeWorkspacesClient.RequestOptions): Promise<core.WithRawResponse<Sikaru.WorkspaceCheckpointView>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? (await core.Supplier.get(this._options.environment) ?? environments.SikaruEnvironment.Default), `v1/projects/${core.url.encodePathParam(project_id)}/compute-attachments/${core.url.encodePathParam(attachment_id)}/workspace-checkpoints/${core.url.encodePathParam(run_id)}/tree`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: 0,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: _response.body as Sikaru.WorkspaceCheckpointView, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401: throw new Sikaru.UnauthorizedError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 403: throw new Sikaru.ForbiddenError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 404: throw new Sikaru.NotFoundError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 409: throw new Sikaru.ConflictError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                case 422: throw new Sikaru.UnprocessableEntityError(_response.error.body as Sikaru.HttpValidationError, _response.rawResponse);
                case 503: throw new Sikaru.ServiceUnavailableError(_response.error.body as Sikaru.ComputeError, _response.rawResponse);
                default: throw new errors.SikaruError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/projects/{project_id}/compute-attachments/{attachment_id}/workspace-checkpoints/{run_id}/tree");
    }
}
